    .logo {
        background-color: #474e5de3;
    }

    .shaker {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-width: 400px;
        max-height: 700px;
    } 

    .shaker:hover {
        animation: shake 1s;
        animation-iteration-count: infinite;
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

    .bildLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-width: 650px;
        max-height: 200px;
    }

    #mixer {
        position: relative;
    }

    #zutat1, #zutat2, #zutat3, #zutat4, #zutat5, #zutat6, #zutat7, #zutat8, #zutat9, #zutat10 {
        left: 50%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    #zutat1 {
        position: absolute;
        top: 90%;
        transform: translate(-50%, -90%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #zutat2 {
        position: absolute;
        top: 85%;
        transform: translate(-50%, -85%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #zutat3 {
        position: absolute;
        top: 80%;
        transform: translate(-50%, -80%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #zutat4 {
        position: absolute;
        top: 75%;
        transform: translate(-50%, -75%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #zutat5 {
        position: absolute;
        top: 70%;
        transform: translate(-50%, -70%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #zutat6 {
        position: absolute;
        top: 65%;
        transform: translate(-50%, -65%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #zutat7 {
        position: absolute;
        top: 60%;
        transform: translate(-50%, -60%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #zutat8 {
        position: absolute;
        top: 55%;
        transform: translate(-50%, -55%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #zutat9 {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    #zutat10 {
        position: absolute;
        top: 45%;
        transform: translate(-50%, -45%);
        /* margin-left: auto;
        margin-right: auto; */
    }

    /* Style für die Navigation */
    .affix {
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    .affix + .container-fluid {
        padding-top: 70px;
    }
     
    .navbar {
        margin: 0;
        border-radius: 0;
        text-align: center;
    }

    #navButtonsAb {
        display: none;
    }

    /* Andere Styles (Selbsterklärend) */
    footer {
        background-color: dimgray;
        color: white;
        padding: 15px;
    }

    .footerOrdner {
        font-weight: bold;
        text-align: left;
    }

    .footerTabelle {
        margin: auto;
    }

    .footerTabelle a {
        color: rgb(197, 197, 197);
        text-decoration: none;
    }

    h4 {
        text-align: left;
        margin: 10px;
        display: inline-block;
    }

    body {
        background-image: url(images/hintergrundbild.jpg);
        background-attachment: fixed;
        background-size: cover;
    }

    .page-header {
        border-color: gray;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.877);
        font-size: 12pt;
        text-justify: auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 10px -2px rgba(255, 255, 255, 0.877);
    }

    button {
        background-color: dimgray;
        color: white;
        opacity: 0.8;
    }

    .btn-group {
        margin-right: 10px; 
    }
    
    button:hover {
        opacity:1;
    }

    /* Registriren style fehlt noch! */
    .cancelbtn, .signupbtn {
        float: left;
        width: 50%;
        background-color: dimgray;
        color: white;
        border: none;
    }

    .cancelbtn {
        padding: 14px 20px;
        background-color: rgb(218, 13, 47);
    }

    .signupbtn {
        padding: 14px 20px;
        background-color:rgb(12, 155, 12);
    }

    .reg-container, .anm-container {
        background-color: gray;
        padding: 16px;
    }

    .modalRegAnm {
        display: none; 
        position: fixed;
        z-index: 2; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: #474e5d;
        padding-top: 50px;
    }

    /* Modal Content/Box */
    .modalRegAnm-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; 
        border: 1px solid #888;
        width: 80%; 
    }

    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    /* Style the horizontal ruler */
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    .flip-box {
        background-color: transparent;
        width: 80%;
        height: 200px;
        perspective: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: none;
        margin-bottom: 10px;
    }
      
    .show {
        display: block;
    }

    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
      
    .flip-box:hover .flip-box-inner {
        transform: rotateX(180deg);
    }
      
    .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
      
    .flip-box-front {
        background-color: #bbb;
        color: black;
    }
      
    .flip-box-back {
        background-color: #474e5d;
        color: white;
        text-align: left;
        padding-left: 5%;
        transform: rotateX(180deg);
    }

    .ulRezept {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .ulRezept li a {
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
    }

    .zutatenTabelle {
        padding: 0;
        margin: 0;
    }

    .zutatenTabelle td a {
        font-size: 18px;
        color: black;
        display: block;
        padding-left: 20px;
        text-decoration: none;
    }

    .sucheButton {
        display: inline-block;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        margin: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 0.5s;
        width: 150px;
        height: 50px;
        text-decoration: none;
    }

    .sucheButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .sucheButton span:after {
        content:'\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .sucheButton:hover span {
        padding-right: 25px;
    }

    .sucheButton:hover span:after {
        opacity: 1;
        right: 0;
    }

    #textFieldMenge {
        border: 1px solid gray;
        border-radius: 5px;
        background-color: lightgray;
        margin: 10px;
        width: 90px;
        height: 50px;
    }

    #textFieldZutat {
        border: 1px solid gray;
        border-radius: 5px;
        background-color: lightgray;
        margin: 10px;
        width: auto;
        height: 50px;
    }

    #textFieldName {
        border: 1px solid gray;
        border-radius: 5px;
        background-color: lightgray;
        margin: 10px;
        width: auto;
        height: 50px;
    }

    #textFieldAnleitung {
        border: 1px solid gray;
        border-radius: 5px;
        background-color: lightgray;
        margin: 10px;
        width: 70%;
        height: 50px;
    }

    .vorschlag {
        border: 1px solid gray;
        border-radius: 5px;
        background-color: rgba(205, 202, 50, 0.39);
        margin: 10px;
        width: auto;
    }

    #geschichte-text{
        text-align: justify;
    }

    .geschichte-zitat{
        margin-left: 50px;
        margin-right: 50px;
        text-align: justify;
        font-style: italic;
    }

    /* Image Styles Home */
    #img1, #img2, #img3{
        border-radius: 7px;
        width: 150px;
        margin: 10px;       
    }

    #img1{
        float: left;   
        margin-top: 25px;     
    }

    #img2{
        float: right;
    }

    #img3{
        float:left;
        margin-top: 5px;
    }

    /*  Styles Rezepte */
    .rezeptImg-right{
        border-radius: 7px;
        width: 170px;
    }